/* ============== */
/* General */
/* ============== */

body {
	
	font-family: Verdana, sans-serif;
	display: table;
	margin: 0 auto;
}

/* ============== */
/* Homepage */
/* ============== */

.testDiv p {
  color: red;
  font-size: 15px;
  text-align: center;
}

.popularBooksDisplay {
	display: flex;
	flex-wrap: wrap;
	
}

.popularBooksDisplay_entry {
	display: block;
	width: 200px;
	margin: 4px;
}

.popularBooksDisplay_entry a {
	text-decoration: none;
}

/* ============== */
/* Book */
/* ============== */

.book_topTitleAndAuthor {
	margin: 4px 0px;
	font-size: 28px;
}

.book_outer {
	display: flex;
}

.book_imageAndDetails {
	border: 1.5px outset slateblue;
	display: block;
	padding: 4px;
	width: 250px;
}

.book_detailsText {
	font-weight: bold;
	font-size: 24px;
	margin: 0px 0px 12px 0px;
}

.book_releaseDate, .book_genres, .book_publisher, .book_isbn {
	margin: 3px 0px;
}

.book_description {
	width: 500px;
}

/* ============== */
/* Wishlist */
/* ============== */

#wishlist-container {
	display: table;
	margin: 0 auto;
}

#wishlist-container a {
  color: black;
  text-decoration: underline
}

.wishlistEntry {
	display: table;
	background-color: #99EEFF;
	border: 2px solid slateblue;
	margin: 5px;
	width: 800px;
	height: 20px;
}
.wishlistEntry img {
	width: 150px;
	float: left;
	border: 1px solid slateblue;
}

.wishlistEntry h2 {
	margin-left: 152px;
}

.wishlistRemoveButton {
	float: right;
}

.wishlist-aboveNotes {
	margin-left: 5px;
	margin-right: 5px;
}

.wishlist-aboveNotes p {
	margin-left: 152px;
}

.wishlist-Notes {
	display: table;
	clear: left;
}

/*
.travelNotesHeader {
	font-size: 20px;
	padding: 0px;
	margin: 0px 0px 0px 5px;
}
*/

.showNotes {
	margin: 0px 0px 5px 5px;
	clear: left;
}


.wishlist-textarea {
	margin: 5px;
	width: 785px;
	max-width: 785px;
	min-width: 785px;
	min-height: 50px;
}

.wishlist-saveNotes {
	margin: 0px 0px 5px 5px;
}

#wishlist-empty {
	display: table;
	margin: 0 auto;
}

.wishlist-empty-text {
	display: table;
	text-align: center;
	background-color: #99EEFF;
	border: 2px solid slateblue;
	margin: 5px;
	width: 800px;
	height: 20px;
}



/* ============== */
/* Bookshelf */
/* ============== */

#bookshelf-container {
	display: table;
	margin: 0 auto;
}

#bookshelf-container a {
  color: black;
  text-decoration: underline
}

.bookshelfEntry {
	display: table;
	background-color: #99EEFF;
	border: 2px solid slateblue;
	margin: 5px;
	width: 800px;
	height: 20px;
}
.bookshelfEntry img {
	width: 150px;
	float: left;
	border: 1px solid slateblue;
}

.bookshelfEntry h2 {
	margin-left: 152px;
}

.bookshelfRemoveButton {
	float: right;
}

.bookshelf-aboveNotes {
	margin-left: 5px;
	margin-right: 5px;
}

.bookshelf-aboveNotes p {
	margin-left: 152px;
}

.bookshelf-Notes {
	display: table;
	clear: left;
}


.bookshelf-textarea {
	margin: 5px;
	width: 785px;
	max-width: 785px;
	min-width: 785px;
	min-height: 50px;
}

.bookshelf-saveNotes {
	margin: 0px 0px 5px 5px;
}

#bookshelf-empty {
	display: table;
	margin: 0 auto;
}

.bookshelf-empty-text {
	display: table;
	text-align: center;
	background-color: #99EEFF;
	border: 2px solid slateblue;
	margin: 5px;
	width: 800px;
	height: 20px;
}