/* ============== */
/* General */
/* ============== */

body {
	
	font-family: Verdana, sans-serif;
	display: table;
	margin: 0 auto;
}

/* ============== */
/* Homepage */
/* ============== */

.testDiv p {
  color: red;
  font-size: 15px;
  text-align: center;
}

.popularBooksDisplay {
	display: flex;
	flex-wrap: wrap;
	
}

.popularBooksDisplay_entry {
	display: block;
	width: 200px;
	margin: 4px;
}

.popularBooksDisplay_entry a {
	text-decoration: none;
}

/* ============== */
/* Book */
/* ============== */

.book_topTitleAndAuthor {
	margin: 4px 0px;
	font-size: 28px;
}

.book_outer {
	display: flex;
}

.book_imageAndDetails {
	border: 1.5px outset slateblue;
	display: block;
	padding: 4px;
	width: 250px;
}

.book_detailsText {
	font-weight: bold;
	font-size: 24px;
	margin: 0px 0px 12px 0px;
}

.book_releaseDate, .book_genres, .book_publisher, .book_isbn {
	margin: 3px 0px;
}

.book_description {
	width: 500px;
}